.background {
  height: 20px;
  background-color: black;
  top: 0;

  p {
    color: white;
    font-size: 10px;
    text-align: end;

    a {
      cursor: pointer;
      text-decoration-line: underline;
      color: white;
    }
  }
}

.logo {
  height: 50px;
}

.altura-buscar {
  height: 70px;
  display: flex;
  align-items: center;
}

.div-buscar {
  input {
    width: 50%;
  }

  button {
    height: 100%;
    padding: 0 10px;
    border: 0;
    border-radius: 0;
    background-color: #CC0D1F;
    color: white;

  }
}

nav {
  border: 1px solid #CC0D1F;
  background-color: #CC0D1F;
  height: 5vh;

  .align-center {
    display: flex;
    align-items: center;

    .ul-nav {
      text-decoration: none;
      list-style: none;

      li {
        a {
          color: white;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .background{
    width: 100%;
    .responsive {
      display: flex;
      justify-content: center;
      font-size: 12px;
    }
  }
  .respons-nav {
    display: none !important;
  }
}
