<div>
  <div class="background">
    <p class="container"><a>Acesse sua Conta </a> ou <a>Cadastre-se</a></p>
  </div>
  <div class="altura-buscar">
    <!-- <div class="container d-flex justify-content-end">
      <div class="input-group div-buscar">
        <input type="text" class="form-control" aria-label="Pesquisa" />
        <div class="input-group-append">
          <button
            class="btn"
            type="button"
            id="button-addon2"
          >
            Buscar
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col">
          <img
            class="logo"
            src="../../../assets/webjump_logo.jpg"
            alt="logo"
            aria-label="logo webjump"
          />
        </div>
        <div class="col div-buscar d-inline-flex justify-content-end">
          <input type="text" aria-label="Pesquisa" />
          <div class="">
            <button class="" type="button" id="">
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="d-flex"
    style="border: 1px solid #CC0D1F; background-color: #CC0D1F; height: 6vh;"
  >
    <div class="container" style="display: flex; align-items: center;">
      <ul
        style="text-decoration: none; list-style: none;"
        class="container row mb-0"
      >
        <li class="" style="margin-right: 30px">
          <a style="color: white" href="#">Página Inicial</a>
        </li>
        <li class="" style="margin-right: 30px">
          <a style="color: white" href="#">Camisetas</a>
        </li>
        <li class="" style="margin-right: 30px">
          <a style="color: white" href="#">Calças</a>
        </li>
        <li class="" style="margin-right: 30px">
          <a style="color: white" href="#">Sapatos</a>
        </li>
        <li class="" style="margin-right: 30px">
          <a style="color: white" href="#">Contato</a>
        </li>
      </ul>
    </div>
  </div>
</div>
