<div>
  <div class="background">
    <p class="responsive container">
      <a routerLink="/login">Acesse sua Conta </a> ou
      <a routerLink="#"> Cadastre-se</a>
    </p>
  </div>
  <div class="altura-buscar">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col">
          <a routerLink="">
            <img
              class="logo"
              src="../../../assets/webjump_logo.jpg"
              alt="logo"
              aria-label="logo webjump"
            />
          </a>
        </div>
        <div class="col div-buscar d-inline-flex justify-content-end">
          <input type="text" aria-label="Pesquisa" />
          <div class="">
            <button class="" type="button" id="">
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="d-flex">
    <div
      class="container align-center"
      style="display: flex; align-items: center;"
    >
      <ul class="ul-nav container row mb-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link active" routerLink="">Página Inicial</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/camisetas">Camisetas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/calcas">Calças</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sapatos">Sapatos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contato">Contato</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
