.breadcrumb li {
  display: inline;
}

.breadcrumb li+li:before {
  content: " > ";
  color: gray;
}
.breadcrumb-item {
  color: #CC0D1F !important;
  font-size: 12px;
}

.breadcrumb {
  padding-top: 20px;
  margin: 0;
  background-color: transparent;
  a {
    color: #28A3AA;
    font-size: 12px;
  }
}
