<div class="container">
  <div class="display-320 row">
    <fieldset>
      <legend class="title-products col-xg-4 col-lg-4 col-sm-8 col-xs-8 col-md-4 d-flex justify-content-center ">
        Camisetas
      </legend>
    </fieldset>
    <div
      class="col-xg-4 col-lg-4 col-sm-4 col-xs-6 col-md-4"
      *ngFor="let tshirts of productTshirt"
    >
      <div class="justify-content-center border-img">
        <img src="{{ tshirts.image }}" class="container d-flex" />
        <div class="name-price">
          <div class="space-name">
            <p class="size-name mt-2">{{ tshirts.name }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-center mt-3 mb-5">
      <a role="button" class="btn btn-outline-danger col-xg-4 col-lg-4 col-sm-5 col-xs-5 col-md-4" [routerLink]="['/camisetas']">Ver Mais</a>
    </div>
  </div>

  <div class="display-320 row">
    <fieldset>
      <legend class="title-products col-xg-4 col-lg-4 col-sm-8 col-xs-8 col-md-4 d-flex justify-content-center">
        Calças
      </legend>
    </fieldset>
    <div
      class="col-xg-4 col-lg-4 col-sm-4 col-xs-6 col-md-4"
      *ngFor="let pants of productPants"
    >
      <div class="justify-content-center border-img">
        <img src="{{ pants.image }}" class="container d-flex" />
        <div class="name-price">
          <div class="space-name">
            <p class="size-name mt-2">{{ pants.name }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-center mt-3 mb-5">
      <a role="button" class="btn btn-outline-danger col-xg-4 col-lg-4 col-sm-5 col-xs-5 col-md-4" [routerLink]="['/calcas']">Ver Mais</a>
    </div>
  </div>

  <div class="display-320 row">
    <fieldset>
      <legend class="title-products col-xg-4 col-lg-4 col-sm-8 col-xs-8 col-md-4 d-flex justify-content-center ">
        Calçados
      </legend>
    </fieldset>
    <div
      class="col-xg-4 col-lg-4 col-sm-4 col-xs-6 col-md-4"
      *ngFor="let shoes of productShoes"
    >
      <div class="justify-content-center border-img">
        <img src="{{ shoes.image }}" class="container d-flex" />
        <div class="name-price">
          <div class="space-name">
            <p class="size-name mt-2">{{ shoes.name }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-center mt-3 mb-5">
      <a role="button" class="btn btn-outline-danger col-xg-4 col-lg-4 col-sm-5 col-xs-5 col-md-4" [routerLink]="['/calcados']">Ver Mais</a>
    </div>
  </div>
</div>
